body{
    background-color: black;
}

.main_count{
    text-align: center;
    justify-content: center; 
}
.popup_main_info{
    color: white;
    
}
.small_div{
    max-width: max-content;
    border: 1px solid white;
    
}

.all_items_div_show{
    display: flex;
    gap: 5px; 
    flex-wrap: wrap;
    margin-top: 10px;
}