
.alertis_hook{
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 5px;
    position: fixed;
    left: 85%;
    top:20px;
    z-index: 99999;
    border: 1px solid rgb(34, 250, 34);
}